#Directories
*/*/obj/
*/*/bin/
*/*/.vscode/
*/.vscode/

#Filetypes
#Project files
#*.csproj
#.cs templates für die Übung
*.cst

#Future
Uebung02/Aufgabe2
Uebung02/Aufgabe3
Uebung02/Aufgabe4

#Übungsordner
Uebung